@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Nanum+Myeongjo&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Enriqueta&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fleur+De+Leah&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:ital,wght@1,300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Gideon+Roman&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@1,100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ephesis&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nanum+Myeongjo&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Enriqueta&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ephesis&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Koh+Santepheap&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nanum+Myeongjo&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Enriqueta&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ephesis&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Questrial&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nanum+Myeongjo&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Enriqueta&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ephesis&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fleur+De+Leah&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:ital,wght@1,300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Delius+Swash+Caps&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nanum+Myeongjo&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Enriqueta&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fleur+De+Leah&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:ital,wght@1,300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Birthstone&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ephesis&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fleur+De+Leah&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  list-style: none;
}

/*Home*/
@-webkit-keyframes header {
  1% {
    background-color: green;
  }
  52% {
    background-color: lightblue;
  }
  98% {
    background-color: orange;
  }
}
@keyframes header {
  1% {
    background-color: green;
  }
  52% {
    background-color: lightblue;
  }
  98% {
    background-color: orange;
  }
}

header {
  position: -webkit-sticky;
  position: sticky;
  z-index: 2;
  top: 0;
}

.principal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100px;
  -webkit-animation-name: header;
          animation-name: header;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-duration: 20s;
          animation-duration: 20s;
  -webkit-animation-timing-function: ease-in;
          animation-timing-function: ease-in;
}

.principal__titulo {
  font-family: 'Nanum Myeongjo', serif;
  font-weight: bold;
  font-size: 3rem;
  color: black;
  margin-top: 10px;
}

.menu ul li {
  display: inline-block;
  margin-right: 30px;
  margin-top: 30px;
  border: 2px double black;
}

.sub {
  margin-left: -70px;
  display: none;
  position: absolute;
  margin-top: -15px;
}

ul li a {
  font-family: 'Enriqueta', serif;
  font-size: 25px;
  cursor: pointer;
  color: black;
  background-image: -webkit-gradient(linear, left top, right top, from(pink), to(orange));
  background-image: linear-gradient(to right, pink, orange);
  -webkit-transition: all 3ms;
  transition: all 3ms;
}

a:focus {
  font-size: 35px;
}

li.naus:hover ul.sub {
  display: block;
}

.menues {
  background-color: #9c868a;
}

.animate__animated {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'Fleur De Leah', cursive;
  font-size: 4rem;
}

.suz {
  font-family: 'Open Sans Condensed', sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  letter-spacing: 25px;
  font-weight: bold;
  margin-top: 40px;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 130px;
}

.fainal {
  height: 163px;
}

.final {
  height: 163px;
}

/*Color body*/
.cuerpa {
  background-color: lightblue;
}

/*Estilos a las Cards*/
.card-texts {
  font-family: 'Gideon Roman', cursive;
  font-size: 20px;
  font-weight: bold;
}

.card-bodys {
  background-color: #dfb325;
  height: 243px;
}

.card-texte {
  font-family: 'Be Vietnam Pro', sans-serif;
  font-size: 20px;
  font-weight: bold;
}

.card-bodyes {
  background-color: #8e95be;
  height: 243px;
}

.card-texti {
  font-family: 'Comfortaa', cursive;
  font-size: 16.6px;
  font-weight: bold;
}

.card-bodyz {
  height: 243px;
  background-color: #338f8f;
}

/*footer*/
.pie__grax {
  font-family: 'Ephesis', cursive;
  font-size: 2.5rem;
  font-weight: bold;
}

@media screen and (max-width: 767px) {
  .principal {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: auto;
  }
  .principal__titulo {
    font-size: 35px;
  }
  .menu ul li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-image: -webkit-gradient(linear, left top, right top, from(pink), to(orange));
    background-image: linear-gradient(to right, pink, orange);
    margin-top: 5px;
  }
  ul li a {
    font-size: 15px;
  }
  .sub li {
    margin-left: -125px;
  }
  .sub .func {
    margin-top: 13px;
  }
  .menues {
    width: 100%;
  }
  .animate__animated {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 25px;
  }
  .suz {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 15px;
    letter-spacing: 5px;
  }
  .container {
    margin-top: -5px;
  }
  .fisi {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 25%;
  }
  .fainal {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 25%;
  }
  .final {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 25%;
  }
  .card-bodys {
    height: 84%;
  }
  .card-bodyes {
    height: 84%;
  }
  .card-bodyz {
    height: 84%;
  }
  .card-texts {
    font-size: 15px;
  }
  .card-texte {
    font-size: 15.6px;
  }
  .card-texti {
    font-size: 12px;
  }
}

@media screen and (min-width: 767px) {
  .principal {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%;
  }
  .principal__titulo {
    font-size: 25px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .menu ul li {
    display: inline-block;
    background-image: -webkit-gradient(linear, left top, right top, from(pink), to(orange));
    background-image: linear-gradient(to right, pink, orange);
    margin-top: 5px;
  }
  ul li a {
    font-size: 20px;
  }
  .sub .func {
    margin-top: 21px;
    margin-left: 5px;
  }
  .menues {
    width: 100%;
  }
  .animate__animated {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 25px;
  }
  .suz {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 48px;
    letter-spacing: 2px;
  }
  .container {
    margin-top: -5px;
  }
  .fisi {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 35%;
  }
  .fainal {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 35%;
  }
  .final {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 35%;
  }
  .card-bodys {
    height: 84%;
  }
  .card-bodyes {
    height: 84%;
  }
  .card-bodyz {
    height: 84%;
  }
  .card-texts {
    font-size: 15px;
  }
  .card-texte {
    font-size: 15.6px;
  }
  .card-texti {
    font-size: 12px;
  }
}

/*Contacto*/
.menuv ul li {
  display: inline-block;
  margin-right: 10px;
  margin-top: 30px;
  border: 2px double black;
}

.context {
  background-color: grey;
}

.context__suze {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  letter-spacing: 20px;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 30px;
  margin-top: 30px;
}

.pie__graxb {
  font-family: 'Ephesis', cursive;
  font-size: 2.5rem;
  font-weight: bold;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.de img {
  border-style: double;
  height: 120px;
  width: auto;
  margin-left: 1000px;
  margin-top: -100px;
}

.argentina img {
  border-style: double;
  height: 120px;
  width: auto;
  margin-left: 1000px;
}

.paraEl img {
  border-style: double;
  height: 120px;
  width: auto;
  margin-left: 1000px;
}

.mundo img {
  border-style: double;
  height: 120px;
  width: auto;
  margin-left: 1000px;
}

.af {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 10px;
}

.redesSociales__titulo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'Birthstone', cursive;
  font-weight: bold;
  font-size: 40px;
  text-decoration: underline;
}

.co {
  background-color: lightblue;
}

.conten {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  width: 350px;
  height: 700px;
  margin-left: 100px;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.conten div img {
  height: 100px;
  border-style: double;
}

.limpia {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

.dipo {
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
}

.yatusa {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@-webkit-keyframes Cont {
  1% {
    background-image: url(../Multimedia/atucha-1-min.jpg);
    background-position-y: -60px;
  }
  52% {
    background-image: url(../Multimedia/atucha12-min.jpg);
    background-position-y: 30px;
  }
  98% {
    background-image: url(../Multimedia/embalse-min.jpg);
    background-position-x: -50px;
    background-position-y: -150px;
  }
}

@keyframes Cont {
  1% {
    background-image: url(../Multimedia/atucha-1-min.jpg);
    background-position-y: -60px;
  }
  52% {
    background-image: url(../Multimedia/atucha12-min.jpg);
    background-position-y: 30px;
  }
  98% {
    background-image: url(../Multimedia/embalse-min.jpg);
    background-position-x: -50px;
    background-position-y: -150px;
  }
}

.cuadro {
  margin-top: 120px;
  height: 300px;
  width: 500px;
  -webkit-animation-name: Cont;
          animation-name: Cont;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-duration: 30s;
          animation-duration: 30s;
  -webkit-animation-timing-function: ease-in;
          animation-timing-function: ease-in;
}

.cuadro__lluvia {
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: underline;
  font-family: 'Oswald', sans-serif;
  font-size: 30px;
  background-color: orange;
}

.eee {
  color: white;
  font-family: 'Alumni Sans', sans-serif;
  font-size: 30px;
  display: inline-block;
  background-color: green;
  letter-spacing: 10px;
}

#Nombrer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 180px;
  margin-top: -39px;
  height: 40px;
  width: 110px;
  cursor: pointer;
  -webkit-transition: all 3s;
  transition: all 3s;
  background-color: lightblue;
}

#Email {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 160px;
  margin-top: -39px;
  height: 40px;
  width: 100px;
  cursor: pointer;
  -webkit-transition: all 3s;
  transition: all 3s;
  background-color: lightblue;
}

#Area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 230px;
  margin-top: -39px;
  height: 40px;
  width: 100px;
  cursor: pointer;
  -webkit-transition: all 3s;
  transition: all 3s;
  background-color: lightblue;
}

#Nombrer:focus {
  height: 60px;
  width: 200px;
}

#Email:focus {
  height: 60px;
  width: 200px;
}

#Area:focus {
  height: 60px;
  width: 200px;
}

.ewe {
  display: inline-block;
  margin-left: 190px;
}

.yatu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 20px;
}

@-webkit-keyframes Conte {
  1% {
    background-image: url(../Multimedia/reactor-min.jpg);
    background-position-y: -100px;
    background-position-x: -130px;
  }
  52% {
    background-image: url(../Multimedia/turbina-min.jpg);
    background-position-y: -400px;
    background-position-x: -500px;
  }
  98% {
    background-image: url(../Multimedia/saladecontrol-min.jpg);
    background-position-y: -290px;
  }
}

@keyframes Conte {
  1% {
    background-image: url(../Multimedia/reactor-min.jpg);
    background-position-y: -100px;
    background-position-x: -130px;
  }
  52% {
    background-image: url(../Multimedia/turbina-min.jpg);
    background-position-y: -400px;
    background-position-x: -500px;
  }
  98% {
    background-image: url(../Multimedia/saladecontrol-min.jpg);
    background-position-y: -290px;
  }
}

.contextq {
  margin-top: 130px;
  height: 300px;
  width: 500px;
  -webkit-animation-name: Conte;
          animation-name: Conte;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-duration: 30s;
          animation-duration: 30s;
}

.contextq__lluv {
  color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: underline;
  font-family: 'Oswald', sans-serif;
  font-size: 30px;
  background-color: orange;
}

.eees {
  font-weight: bold;
  color: black;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 15px;
  font-family: sans-serif;
  font-size: 20px;
}

.ub__titux {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 100px;
  font-weight: bold;
  font-size: 4rem;
  font-family: 'Fleur De Leah', cursive;
  color: #08707e;
}

.ubic {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: 30px;
}

@media screen and (max-width: 767px) {
  .menuv ul li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-image: -webkit-gradient(linear, left top, right top, from(pink), to(orange));
    background-image: linear-gradient(to right, pink, orange);
    margin-top: 5px;
  }
  .context__suze {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 15px;
    letter-spacing: 5px;
  }
  .contextq {
    width: 100%;
  }
  .cuadro__lluvia {
    font-size: 22px;
  }
  .cuadro {
    width: 100%;
  }
  .ubic {
    display: inline-block;
  }
  iframe {
    width: 100%;
    height: 50%;
  }
  .conten {
    display: none;
  }
  .flex {
    display: none;
  }
  .redesSociales {
    margin-top: 450px;
  }
}

@media screen and (min-width: 767px) {
  .menuv ul li {
    margin-top: 5px;
  }
  .ubic {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .animate__animated {
    font-size: 50px;
  }
  .context__suze {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 48px;
    letter-spacing: 2px;
  }
}

.vide video {
  width: 1000px;
}

.vide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 200px;
}

.func {
  background-color: lightblue;
}

.kl {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.kl__central {
  font-family: 'Lobster Two', cursive;
  font-size: 4rem;
  text-decoration: underline;
}

.menu__func {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.menu__func img {
  height: 150px;
}

.cards-body {
  background-color: orange;
}

.cards-text {
  font-weight: bold;
  font-family: sans-serif;
}

.caja {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 10px;
}

.modal-title {
  display: inline-block;
  margin-left: 60px;
  text-decoration: underline;
}

.pie__graxo {
  font-family: 'Ephesis', cursive;
  font-size: 2.5rem;
  font-weight: bold;
}

.modal-header {
  background-color: red;
}

.modal-footer {
  background-color: blue;
}

.modal-body {
  font-weight: bold;
}

@media screen and (max-width: 767px) {
  .kl {
    width: 100%;
  }
  .kl__central {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 20px;
  }
  .menu__func {
    width: 100%;
  }
  .cards {
    width: 100%;
  }
  .cards-body {
    height: 48%;
  }
  .vide video {
    width: 100%;
  }
  .cards-text {
    font-size: 10px;
  }
}

/*Galería*/
.menuz ul li {
  display: inline-block;
  margin-right: 30px;
  margin-top: 30px;
  border: 2px double black;
}

.glio {
  background-color: lightblue;
}

.fot__titulo {
  color: black;
  background-color: orange;
  font-size: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.fot__titulo {
  font-family: 'Questrial', sans-serif;
}

.fotitosCentral {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.fotitosCentral img {
  height: 400px;
  width: 780px;
}

.sisi {
  color: indigo;
  font-size: 2rem;
  display: inline-block;
  background-color: orange;
}

.pp {
  font-size: 40px;
}

.fotitosCentral2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 100px;
}

.fotitosCentral2 img {
  height: 400px;
  width: 780px;
}

div .carousel-indicators {
  z-index: 1;
}

.fotitosCentral3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 100px;
}

.fotitosCentral3 img {
  height: 400px;
  width: 780px;
}

.pie__graxu {
  font-family: 'Ephesis', cursive;
  font-size: 2.5rem;
  font-weight: bold;
}

@media screen and (max-width: 767px) {
  .menuz ul li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-image: -webkit-gradient(linear, left top, right top, from(pink), to(orange));
    background-image: linear-gradient(to right, pink, orange);
    margin-top: 5px;
  }
  .fot {
    width: 100%;
  }
  .fot__titulo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 25px;
  }
  .fotitosCentral img {
    width: 100%;
  }
  .fotitosCentral2 img {
    width: 100%;
  }
  .fotitosCentral3 img {
    width: 100%;
  }
}

@media screen and (min-width: 768px) {
  .menuz ul li {
    margin-top: 5px;
  }
}

/*Nosotros*/
.menus ul li {
  display: inline-block;
  margin-right: 30px;
  margin-top: 30px;
  border: 2px double black;
}

.conteneta {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 250px auto 250px;
      grid-template-columns: 250px auto 250px;
  -ms-grid-rows: 100px 100px 100px;
      grid-template-rows: 100px 100px 100px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 200px;
}

.conteneta div {
  border: 2px double black;
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: -100px;
}

.hea {
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1/span 3;
  font-family: 'Comfortaa', cursive;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 3rem;
  background-color: chocolate;
}

.foo {
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1/span 3;
  font-family: 'Comfortaa', cursive;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 3rem;
  background-color: orange;
}

.nave {
  font-family: 'Comfortaa', cursive;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 1rem;
  background-color: crimson;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.art {
  font-family: 'Comfortaa', cursive;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 2rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: darkgreen;
}

.asi {
  font-family: 'Comfortaa', cursive;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 1rem;
  background-color: grey;
}

.obje {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.lele {
  text-decoration: underline;
  font-family: 'Koh Santepheap', cursive;
  font-size: 4rem;
  font-weight: bold;
}

.conte {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.conte img {
  width: 780px;
}

.pie__graxi {
  font-family: 'Ephesis', cursive;
  font-size: 2.5rem;
  font-weight: bold;
}

.ns {
  background-color: lightblue;
}

@media screen and (max-width: 767px) {
  .principal {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
  }
  .menus ul li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-image: -webkit-gradient(linear, left top, right top, from(pink), to(orange));
    background-image: linear-gradient(to right, pink, orange);
    margin-top: 5px;
  }
  .conte img {
    width: 100%;
  }
  .obje {
    width: 100%;
  }
  .lele {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 25px;
  }
  .conteneta {
    width: 100%;
    -ms-grid-columns: auto auto auto;
        grid-template-columns: auto auto auto;
    margin-top: 130px;
  }
  .hea {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 25px;
  }
  .foo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 25px;
  }
  .art {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 9px;
    font-weight: bold;
  }
  .nave {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 12px;
  }
  .asi {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 12px;
  }
}

@media screen and (min-width: 768px) {
  .menus ul li {
    margin-top: 7px;
  }
  .art {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 16px;
  }
}

/*Reuniones*/
.nana {
  background-color: lightblue;
}

.menut ul li {
  display: inline-block;
  margin-right: 30px;
  margin-top: 30px;
  border: 2px double black;
}

/*Se toman parametros de la animación ubicada en index*/
.animate__animated {
  background-color: grey;
}

.miMenu {
  background-color: #9c868a;
}

.subtet {
  font-family: 'Open Sans Condensed', sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 20px;
  letter-spacing: 15px;
  font-size: 25px;
  font-weight: bold;
}

.contenetas {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.contenetas img {
  width: 580px;
  height: 300px;
}

.figure-caption {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: 'Delius Swash Caps', cursive;
  font-weight: bold;
}

.camelCase {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: 100px;
}

.camelCase img {
  width: 580px;
  height: 300px;
}

.lista {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 30px;
}

.modal-titles {
  display: inline-block;
  margin-left: 185px;
  text-decoration: underline;
}

.dropdown {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 250px;
}

.pie__graxj {
  font-family: 'Ephesis', cursive;
  font-size: 2.5rem;
  font-weight: bold;
}

.soft li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (max-width: 767px) {
  .menut ul li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-image: -webkit-gradient(linear, left top, right top, from(pink), to(orange));
    background-image: linear-gradient(to right, pink, orange);
    margin-top: 5px;
  }
  .subtet {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 15px;
    letter-spacing: 5px;
  }
  .dropdown-menu {
    background-image: -webkit-gradient(linear, left top, right top, from(pink), to(orange));
    background-image: linear-gradient(to right, pink, orange);
  }
}

@media screen and (min-width: 767px) {
  .dropdown-menu {
    background-image: -webkit-gradient(linear, left top, right top, from(pink), to(orange));
    background-image: linear-gradient(to right, pink, orange);
  }
  .menut ul li {
    margin-top: 5px;
  }
  .subtet {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 15px;
    letter-spacing: 2px;
  }
}

/*footer*/
@-webkit-keyframes pata {
  1% {
    background-color: green;
  }
  52% {
    background-color: lightblue;
  }
  98% {
    background-color: orange;
  }
}
@keyframes pata {
  1% {
    background-color: green;
  }
  52% {
    background-color: lightblue;
  }
  98% {
    background-color: orange;
  }
}

.pie {
  -webkit-animation-name: pata;
          animation-name: pata;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-duration: 20s;
          animation-duration: 20s;
  -webkit-animation-timing-function: ease-in;
          animation-timing-function: ease-in;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 100px;
}

p a {
  border: 2px double black;
  background-image: -webkit-gradient(linear, right top, left top, from(pink), to(orange));
  background-image: linear-gradient(to left, pink, orange);
  color: black;
}

@media screen and (max-width: 767px) {
  .pie {
    width: 100%;
  }
  .pie__grax {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 12px;
  }
  .pie__graxo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 12px;
  }
  .pie__graxi {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 12px;
  }
  .pie__graxu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 12px;
  }
  .pie__graxj {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 12px;
  }
  .pie__graxb {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 12px;
  }
}

@media screen and (min-width: 767px) {
  .pie {
    width: 100%;
  }
  .pie__grax {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 28px;
  }
  .pie__graxo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 28px;
  }
  .pie__graxi {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 28px;
  }
  .pie__graxu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 28px;
  }
  .pie__graxj {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 28px;
  }
  .pie__graxb {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 28px;
  }
}

/* Fuentes Index*/
/*Fuentes Nosotros*/
/*Fuentes Galeria*/
/*Fuentes Reuniones */
/*Fuentes Contacto */
/*# sourceMappingURL=style.css.map */