/*Contacto*/
.menuv ul li {
    display: inline-block;
    margin-right: 10px;
    margin-top: 30px;
    border: 2px double black;
 
 }


.context{
    background-color: $bgcolor5;
}

.context{
    &__suze{
        display: flex;
        justify-content: center;
        letter-spacing: 20px;
        font-family: 'Open Sans Condensed', sans-serif;
        font-size: 30px;
        margin-top: 30px;
    }   
}
.pie__graxb{
font-family: 'Ephesis', cursive;
font-size: 2.5rem;
font-weight: bold;
}

.flex {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    
    
    
}

.de img {
    border-style: double;
    height: 120px;
    width: auto;
    margin-left: 1000px;
    margin-top:-100px
}
.argentina img {
    border-style: double;
    height: 120px;
    width: auto;
    margin-left: 1000px;
}

.paraEl img {
    border-style: double;
    height: 120px;
    width: auto;
    margin-left: 1000px;
}

.mundo img {
    border-style: double;
    height: 120px;
    width: auto;
    margin-left: 1000px;
}


.af {
 
    display: flex;
    justify-content: center;
    margin-top: 10px;
  }

  .redesSociales{

       &__titulo{
          display: flex;
          justify-content: center;
          align-items: center;
          font-family: 'Birthstone', cursive;
          font-weight: bold;
          font-size: 40px;
          text-decoration: underline;
      }
  }
  

  .co{
      background-color: lightblue;
  }

  .conten{
    display: flex;
    flex-flow: row nowrap;
    width: 350px;
    height: 700px;
    margin-left: 100px;
    align-items: flex-end;
    
}
.conten div img{
    height: 100px;
    border-style: double;

}



.limpia{
    order: 1 ;
}

.dipo {
    order: 3;
}

.yatusa{
    display: flex;
    justify-content: center;
    
}


@keyframes Cont {
    1% {
        background-image: url(../Multimedia/atucha-1-min.jpg);
        background-position-y: -60px;
    }
    
    52% {
        background-image: url(../Multimedia/atucha12-min.jpg);
        background-position-y: 30px;
    }

    98%{
        background-image: url(../Multimedia/embalse-min.jpg);
        background-position-x: -50px;
        background-position-y: -150px;
    }
}


.cuadro {
    margin-top: 120px;
    height: 300px;
    width: 500px;
    animation-name: Cont;
    animation-iteration-count: infinite;
    animation-duration: 30s;
    animation-timing-function: ease-in;
    &__lluvia{
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: underline;
        font-family: 'Oswald', sans-serif;
        font-size: 30px;
        background-color: orange;
    }
}


.eee{
    color: white;
    font-family: 'Alumni Sans', sans-serif;
    font-size: 30px;
    display: inline-block;
    background-color: green;
    letter-spacing: 10px;
    

}

#Nombrer{
    display: flex;
    margin-left: 180px;
    margin-top: -39px;
    height: 40px;
    width: 110px;
    cursor: pointer;
    transition: all 3s;
    background-color: $color2;
 
}

#Email {
    display: flex;
    margin-left: 160px;
    margin-top: -39px;
    height: 40px;
    width: 100px;
    cursor: pointer;
    transition: all 3s;
    background-color: $color2;
}

#Area{
    display: flex;
    margin-left: 230px;
    margin-top: -39px;
    height: 40px;
    width: 100px;
    cursor: pointer;
    transition: all 3s;
    background-color: $color2;
}


#Nombrer:focus{
    height: 60px;
    width: 200px;
}

#Email:focus{
    height: 60px;
    width: 200px;
}

#Area:focus {
    height: 60px;
    width: 200px;
}

.ewe{
    display: inline-block;
    margin-left: 190px;
}


.yatu{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    
}


@keyframes Conte {
    1% {
        background-image: url(../Multimedia/reactor-min.jpg);
        background-position-y: -100px;
        background-position-x: -130px;

    }

    52% { 
        background-image: url(../Multimedia/turbina-min.jpg);
        background-position-y: -400px;
        background-position-x: -500px;

    }    

    98% {
        background-image: url(../Multimedia/saladecontrol-min.jpg);
        background-position-y: -290px;
    }
}


.contextq {
    margin-top: 130px;
    height: 300px;
    width: 500px;
    animation-name: Conte;
    animation-iteration-count: infinite;
    animation-duration: 30s;
    
    &__lluv{
        color: black;
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: underline;
        font-family: 'Oswald', sans-serif;
        font-size: 30px;
        background-color: orange;
    }
}


.eees{
    font-weight: bold;
    color: black;
    background-color:white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    font-family: sans-serif;
    font-size: 20px;
}

.ub{
    &__titux{
        display: flex;
        justify-content: center;
        margin-top: 100px;
        font-weight: bold;
        font-size: 4rem;
        font-family: 'Fleur De Leah', cursive;
        color: rgb(8, 112, 126);

    }
}


.ubic{
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
}

@media screen and (max-width: 767px) {

    .menuv ul li {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-image: linear-gradient(to right, pink, orange);
        margin-top: 5px;
    }

    .context__suze {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 15px;
        letter-spacing: 2px;
    }

    .contextq {
        width: 100%;
    }
    
    .cuadro__lluvia {
        font-size: 22px;
    }

    .cuadro  {
     width: 100%;
    }

    .ubic {
     display: inline-block;
      }

      iframe {
          width: 100%;
          height: 50%;
      }

    .conten {
     display: none;
    }

    .flex {
        display: none;
    }

    .redesSociales {
        margin-top: 450px;
    }
    
}


@media screen and (min-width: 767px) {
    .menuv ul li {
        margin-top: 5px;
    }

    .ubic {
        display: flex;
        justify-content: space-around;
    }

    .animate__animated{
        font-size: 50px;
    }

    .context__suze {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 48px;
        letter-spacing: 2px;
    }

    
}