/*footer*/

@keyframes pata {
    1% {
        background-color: $color1;
    }

    52% {
        background-color: $color2;
    }
    
    98% {
        background-color: $color3;
    }

    
}



.pie{
    animation-name: pata;
    animation-iteration-count: infinite;
    animation-duration: 20s;
    animation-timing-function: ease-in;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
 }

p a {
    border: 2px double black;
    background-image: linear-gradient(to left, pink, orange);
    color: black;
}


@media screen and (max-width: 767px) {
    .pie {
        width: 100%;
    }

    .pie__grax {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 12px;
    }
    
    .pie__graxo {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 12px;
    }

    .pie__graxi {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 10px;
    }

    .pie__graxu {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size:  10px;
    }

    .pie__graxj {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 10px;
    }

    .pie__graxb {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 12px;
    
    }
}

@media screen and (min-width: 767px) {
    .pie {
        width: 100%;

    }

    .pie__grax {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 28px;
    }

    .pie__graxo {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 28px;
    }

    .pie__graxi {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 28px;
    }
     
    .pie__graxu {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 28px;
    }

  

    .pie__graxj {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 28px;
    }
    
    .pie__graxb {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 28px;
    
    }

}