/*Galería*/

.menuz ul li {
    display: inline-block;
    margin-right: 30px;
    margin-top: 30px;
    border: 2px double black;
 
 }

.glio{
    background-color: lightblue;
}

.fot{
    &__titulo{
        @if ($coloropinion==red) {
            color: black;
            background-color: orange;
            font-size: 30px;
            display: flex;
            justify-content: center;
            align-items: center;
        } @else if ($coloropinion==blue){
            color: green;
            background-color: grey;
            font-size: 30px;
            display: inline-block;
            margin-left: 500px;
        } @else {
            color: orangered;
            background-color: blue;
            font-size: 30px;
            display: flex;
            border: 2px double black;
            justify-content: flex-end;
            
        }
        
    }
}

.fot{
    &__titulo{
        font-family: 'Questrial', sans-serif;
    }
}

.fotitosCentral {
    display: flex;
    justify-content: center;
}

.fotitosCentral img{
    height: 400px;
    width: $widthb - 220px;
}

.sisi {
    color: indigo;
    font-size: 2rem;
    display: inline-block;
    background-color:$bgcolor2;
    
}

.pp{
    font-size: 40px;
}

.fotitosCentral2{
    display: flex;
    justify-content: center;
    margin-top: 100px;

}

.fotitosCentral2 img {
    height: 400px;
    width: $width + 280px;
}

div .carousel-indicators{
    z-index: 1;
    
}

.fotitosCentral3{
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

.fotitosCentral3 img {
    height: 400px;
    width: $width + 280px;
}

.pie{
    &__graxu{
        font-family: 'Ephesis', cursive;
        font-size: 2.5rem;
        font-weight: bold;
    }
}

@media screen and (max-width: 767px) {
     .menuz ul li {
         display: flex;
         flex-direction: column;
         align-items: center;
         background-image: linear-gradient(to right, pink, orange);
         margin-top: 5px;
     }

     .fot {
         width: 100%;
     }

     .fot__titulo {
         display: flex;
         justify-content: center;
         align-items: center;
         font-size: 25px;
     }

     .fotitosCentral img {
         width: 100%;
     }

     .fotitosCentral2 img {
         width: 100%;
     }

     .fotitosCentral3 img {
         width: 100%;
     }
    
}

@media screen and (min-width: 768px) {

    .menuz ul li {
        margin-top: 5px;
    }
    
}
