/*Nosotros*/

.menus ul li {
    display: inline-block;
    margin-right: 30px;
    margin-top: 30px;
    border: 2px double black;
 
 }

.conteneta {
    display: grid;
    grid-template-columns: 250px auto 250px;
    grid-template-rows: 100px 100px 100px;
    justify-content: center;
    margin-top: 200px;
}

.conteneta div {
    border: 2px double black;
    height: 80px;
    display: flex;
    margin-top: -100px;
    
}
.hea {
    grid-column: 1/span 3;
    font-family: 'Comfortaa', cursive;
    justify-content: center;
    font-size: 3rem;
    background-color: $bgcolor;
}

.foo {
    grid-column: 1/span 3;
    font-family: 'Comfortaa', cursive;
    justify-content: center;
    font-size: 3rem;
    background-color: $bgcolor2;
}

.nave {
    font-family: 'Comfortaa', cursive;
    justify-content: center; 
    font-size: 1rem;
    background-color: $bgcolor3;
    align-items: center;
    
    
}

.art {
    font-family: 'Comfortaa', cursive;
     justify-content: center;
     font-size: 2rem;
     align-items: center;
    background-color: $bgcolor4;
}

.asi {
    font-family: 'Comfortaa', cursive;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    background-color: $bgcolor5;
}

.obje {
    display: flex;
    justify-content: center;
    align-items: center;
}
.lele{
    text-decoration: underline;
    font-family: 'Koh Santepheap', cursive;
    font-size: 4rem;
    font-weight: bold;
}

.conte{
    display: flex;
    justify-content: center;
}

.conte img{
    width: 780px;
}

.pie{
    &__graxi{
        font-family: 'Ephesis', cursive;
        font-size: 2.5rem;
        font-weight: bold;
    }
}

.ns {
    background-color: lightblue;
}

@media screen and (max-width: 767px) {
     .principal {
         display: flex;
         width: 100%;
     }

     .menus ul li {
         display: flex;
         flex-direction: column;
         align-items: center;
         background-image: linear-gradient(to right, pink, orange);
         margin-top: 5px;
     }
    
     .conte img{
         width: 100%;
     }

     .obje {
         width: 100%;
     }
     
     .lele {
         display: flex;
         justify-content: center;
         align-items: center;
         font-size: 25px;
     }


     .conteneta {
         width: 100%;
        grid-template-columns: auto auto auto;
        margin-top: 130px;
     }
     


     .hea {
         display: flex;
         justify-content: center;
         align-items: center;
         font-size: 25px;
     }

     .foo {
         display: flex;
         justify-content: center;
         align-items: center;
         font-size: 25px;
     }


     .art {
         display: flex;
         justify-content: center;
         align-items: center;
         font-size: 7px;
         font-weight: bold;
     }

     .nave{
         display: flex;
         justify-content: center;
         align-items: center;
         font-size: 12px;
     }

     .asi {
         display: flex;
         justify-content: center;
         align-items: center;
         font-size: 12px;
     }
   

}

@media screen and (min-width: 768px) {
     .menus ul li {
         margin-top: 7px;
     }

     .art {
         display: flex;
         justify-content: center;
         align-items: center;
         font-size: 16px;
     }
    
}