/*Reuniones*/

.nana{
    background-color: lightblue;
}


.menut ul li {
    display: inline-block;
    margin-right: 30px;
    margin-top: 30px;
    border: 2px double black;
 
 }
/*Se toman parametros de la animación ubicada en index*/
.animate{
    &__animated{
        background-color:$bgcolor5;
    }
}

.miMenu {
    background-color: rgb(156, 134, 138)
}

.subtet{
    font-family: 'Open Sans Condensed', sans-serif;
    display: flex;
    justify-content: center;
    margin-top: 20px;
    letter-spacing: 15px;
    font-size: 25px;
    font-weight: bold;
}

.contenetas{
    display: flex;
    justify-content: space-around;
}

.contenetas img{
    width: $width + 80px;
    height: 300px;
}

.figure{
    &-caption{
        display: flex;
        justify-content: center;
        font-family: 'Delius Swash Caps', cursive;
        font-weight: bold;
    }
}

.camelCase{
    display: flex;
    justify-content: space-around;
    margin-top: 100px;
}

.camelCase img {
    width: $widthb - 420px;
    height: 300px;
}

.lista {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.modal {
    &-titles{
      display: inline-block;
      margin-left: 185px;
      text-decoration: underline;
    }
}

.dropdown{
    display: flex;
    justify-content: center;
    margin-top: 250px;
   
}

.pie{
    &__graxj{
        font-family: 'Ephesis', cursive;
        font-size: 2.5rem;
        font-weight: bold;
    }
}

.soft li a {
    display: flex;
    justify-content: center;
}


@media screen and (max-width: 767px) {
    .menut ul li {
      display: flex;
      flex-direction: column;
      align-items: center;
      background-image: linear-gradient(to right, pink, orange);
      margin-top: 5px;
    }


    .subtet {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 15px;
        letter-spacing: 5px;
    }



    .dropdown-menu {
        background-image: linear-gradient(to right, pink, orange);
    }
    
}

@media screen and (min-width: 767px) {
   .dropdown-menu {
    background-image: linear-gradient(to right, pink, orange);
   }

   .menut ul li {
       margin-top: 5px;
   }
 
   
   .subtet {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    letter-spacing: 2px;
}
}