$color1: green;
$color2: lightblue;
$color3: orange;
$bgcolor: chocolate;
$bgcolor2: orange;
$bgcolor3: crimson;
$bgcolor4: darkgreen;
$bgcolor5: grey;
$coloropinion: red;
$width: 500px;
$widthb: 1000px;

